.button-text{
    font-size: xx-large;
    display: flex;
    justify-content: center;
}
.plus{
    color: seagreen;
}
.form-labels{
    display: flex;
    justify-content: center;
}
.title{
    font-family: monospace;
      display: flex;
      justify-content: center;
  }